<!-- <c-card>
    <c-card-header>
       
    </c-card-header>
    <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead class="text-nowrap text-truncate">
                <tr>
                    <th class="bg-body-tertiary">Counter Name</th>
                    <th class="bg-body-tertiary ">Counter Desc.</th>
                    <th class="bg-body-tertiary text-center">Cousine</th>
                    <th class="bg-body-tertiary text-center">Edit</th>
                    <th class="bg-body-tertiary text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of (foodCourt$ | async)">
                    <td>
                        <span>{{item.counterName}} </span>
                    </td>
                    <td>
                        <span>{{item.counterDesc}}</span>
                    </td>
                    <td class="text-center">
                        <span>{{item.cousine}}</span>
                    </td>
                    <td class="text-center" (click)="onEdit(item)">
                        <svg [cIcon]="icons.cilPencil" size="xl" title="List Icon"></svg>
                    </td>
                    <td class="text-center" (click)="onDelete(item.id)">
                        <svg [cIcon]="icons.cilDelete" width="25" title="Shield Icon"></svg>
                    </td>

                </tr>
                <div *ngIf="(foodCourt$ | async)?.length == 0" class="no-record">
                    No Record Found.
                </div>
            </tbody>
        </table>
    </c-card-body>
</c-card> -->


<c-container>
    <c-row>
        <c-col>Food Counter</c-col>
        <c-col class="text-end">
            <app-food-counter-form (addNewForm)="onAddCounter($event)"
                [counterFormInfo]="editCounter"></app-food-counter-form>
        </c-col>
    </c-row>
</c-container>

<table mat-table [dataSource]="(foodCourt$ | async)" class="mat-elevation-z8" multiTemplateDataRows>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="COUNTER_NAME">
        <th mat-header-cell *matHeaderCellDef> Counter Name </th>
        <td mat-cell *matCellDef="let element"> {{element.COUNTER_NAME}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="COUNTER_DESCl">
        <th mat-header-cell *matHeaderCellDef> Counter Description </th>
        <td mat-cell *matCellDef="let element"> {{element.COUNTER_DESCl}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="COUSINE">
        <th mat-header-cell *matHeaderCellDef> Cousine </th>
        <td mat-cell *matCellDef="let element"> {{element.COUSINE}} </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element" (click)="onEdit(element)"><svg [cIcon]="icons.cilPencil"
                size="sm "></svg>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colDefs"></tr>
    <tr mat-row *matRowDef="let element; columns: colDefs;">
</table>