<c-card>
    <c-card-header>
        <c-container>
            <c-row>
                <c-col>Food Counter</c-col>
                <c-col class="text-end">
                    <app-food-counter-form (addNewForm)="onAddCounter($event)"
                        [counterFormInfo]="editedCounter"></app-food-counter-form>
                </c-col>
            </c-row>
        </c-container>
    </c-card-header>
    <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead class="text-nowrap text-truncate">
                <tr>
                    <th class="bg-body-tertiary">Counter Name</th>
                    <th class="bg-body-tertiary ">Counter Desc.</th>
                    <th class="bg-body-tertiary text-center">Cousine</th>
                    <th class="bg-body-tertiary text-center">Edit</th>
                    <th class="bg-body-tertiary text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of (foodCourt$ | async)">
                    <td>
                        <span>{{item.counterName}} </span>
                    </td>
                    <td>
                        <span>{{item.counterDesc}}</span>
                    </td>
                    <td class="text-center">
                        <span>{{item.cousine}}</span>
                    </td>
                    <td class="text-center" (click)="onEdit(item)">
                        <svg [cIcon]="icons.cilPencil" size="xl" title="List Icon"></svg>
                    </td>
                    <td class="text-center" (click)="onDelete(item.id)">
                        <svg [cIcon]="icons.cilDelete" width="25" title="Shield Icon"></svg>
                    </td>

                </tr>
                <div *ngIf="(foodCourt$ | async)?.length == 0" class="no-record">
                    No Record Found.
                </div>
            </tbody>
        </table>
    </c-card-body>
</c-card>