<button cButton color="primary" variant="outline" [cModalToggle]="menuitemDetailModel.id" size="sm" #cModalToggleButton>
    <svg [cIcon]="icons.cilPlus" width="25" title="Shield Icon">
    </svg>+</button>


<c-modal #menuitemDetailModel id="menuitemDetailModel" backdrop="static">
    <c-modal-header>
        <h5 cModalTitle>
            <!-- <svg [cIcon]="icons.cilPlus" width="25" title="Shield Icon">
            </svg> -->
            Add New Menu item
        </h5>
    </c-modal-header>
    <c-modal-body>
        <ng-container *ngTemplateOutlet="longContent"></ng-container>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="menuitemDetailContentModel.id" cButton color="secondary"
            (click)="menuitemdetailform.reset()">Close</button>
        <button cButton color="primary" [disabled]="!foodCourtForm.valid" (click)="onSubmit()"
            [cModalToggle]="menuitemDetailContentModel.id">Save</button>
    </c-modal-footer>
</c-modal>
<ng-template #longContent>
    <form cForm [formGroup]="menuitemdetailform">

        <c-row class="mb-3">
            <label cLabel="col" class="col-sm-4">
                Food Court Name :
            </label>
            <c-col sm="8">
                <input cFormControl id="nameinput" type="text" formControlName="menuitemname" autocomplete="off" />
            </c-col>
        </c-row>
        <c-row class="mb-3">
            <label cLabel="col" class="col-sm-4">
                Building Name :
            </label>
            <c-col sm="8">
                <textarea cFormControl id="descriptioninput" rows="3"></textarea>
            </c-col>
        </c-row>        
    </form>
</ng-template>